<nav class="navbar navbar-default navbar-fixed-top" ng-include="navbarHtml">
</nav>
<div role="flatdoc" class="content-root" data-ng-show="!index">
  <div class="menubar">
    <div class="menu section" role="flatdoc-menu"></div>
  </div>
  <div role="flatdoc-content" class="content"></div>
  	<div class="footer content">
		<div class="row">
			<div class="col-xs-12">	
				<span data-ng-class="{disabled: paginationLinks.prev == null}" class=" pull-left">
					<a href="{{paginationLinks.prev}}"  class="paginationLink pull-left">Previous</a>
				</span>
				<span data-ng-class="{disabled: paginationLinks.next == null}" class="pull-right">
					<a href="{{paginationLinks.next}}" class="paginationLink pull-right">Next</a>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="index-container" data-ng-if="index">
	<div class="container">
		<div class="row">
			<h1 class="col-xs-12">
				{{folderLabel}} <a href="/{{currentVersion}}/{{fullPath}}/../index"><i class="fa fa-level-up" style="font-size:20px;margin-left:10px;"></i></a>
			</h1>
		</div>	
		
		<script type="text/ng-template" id="link_renderer.html">
			<a href="{{path}}/{{file.files ? file.name + '/index' : file.name}}" class="col-xs-12"><i class="fa {{file.files ? 'fa-folder' : 'fa-file-text'}}"></i>{{file.label || file.name}}</a>
			<ul class="col-sm-12" ng-init="current=file">
				<li ng-repeat="(key, file) in file.files" ng-include="'link_renderer.html'" ng-init="path=path +'/' + current.name"></li>
			</ul>
		</script>
		
		<div class="row indexLinkContainer">
			<ul class="col-xs-12 col-sm-6">
				<li ng-repeat="(key, file) in indexList" ng-include="'link_renderer.html'" data-ng-if="file.name != 'index' && (key) <= indexList.length/2" ng-init="path='#/' + currentVersion + '/' + fullPath + folder.name"></li>
			</ul>
			
			<ul class="col-xs-12 col-sm-6">
				<li ng-repeat="(key, file) in indexList" ng-include="'link_renderer.html'" data-ng-if="file.name != 'index' && (key) > indexList.length/2" ng-init="path='#/' + currentVersion + '/' + fullPath + folder.name"></li>
			</ul>
		</div>
	</div>
</div>